.imagen-edit{
    background: url(/images/acciones/24/edit.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-addimage{
    background: url(/images/acciones/24/add-image.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-see{
    background: url(/images/acciones/24/binoculars.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-delete{
    background: url(/images/acciones/24/delete.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-dolar{
    background: url(/images/acciones/24/dollar-sign.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-new{
    background: url(/images/acciones/24/file-new.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-transacciones{
    background: url(/images/acciones/24/tasks.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-equipos{
    background: url(/images/acciones/24/tool.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-desactivar{
    background: url(/images/acciones/24/delete.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}
.imagen-activar{
    background: url(/images/acciones/24/checkmark.png) no-repeat 0% 0%;
    margin: 0px 0 0px 0px;
    padding: 20px 20px 5px 5px;
    text-decoration: none;
}

