#menu
{

	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  

}

#menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;

}

#menu li:hover > a
{
	
}


#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
}

#menu ul ul
{
  top: 0;
  left: 150px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
}

#menu ul li:last-child
{   

}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}


#menu ul a:hover
{
    
}

#menu ul li:first-child > a
{

}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
   
}

#menu ul li:first-child a:hover:after
{
    
}

#menu ul ul li:first-child a:hover:after
{
   
}


#menu ul li:last-child > a
{
    
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
