* { 
	padding: 0px; 
	margin: 0px; 
}

.item130  {
  border-right: none !important;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 960px;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
        color: #4e4e4e;
	text-align: left;
	margin: 3px auto;
	vertical-align: top;
	height: auto;
        background-image: url('../images/bgwebpage.png');
        background-position: top;
        background-repeat: repeat-x;
        margin-bottom:30px;
}
form	{

}
/* WRJ: 16-02-2011 */
.blog a	{
	color: blue;
	text-decoration: underline;
}
.blog a:visited	{
	color: purple;
}
textarea{
     border: solid 1px #666666;
     height:200px;
     -moz-border-radius: 1px;
     border-radius: 1px;
     margin-bottom: 3px;
}
form input{
     border: solid 1px #666666;
     height:20px;
     -moz-border-radius: 1px;
     border-radius: 1px;
     margin-bottom: 3px;
}
input[type=button]{
     cursor: pointer;
     background-image: url('../images/button_background.png') !important;
     background-repeat: repeat-x !important;
     color: white !important;
     height:20px;
     cursor: pointer;
     -moz-border-radius: 1px;
     border-radius: 1px;
     padding: 0px 10px;
}
form input[type=button]{
     cursor: pointer;
     background-image: url('../images/button_background.png');
     background-repeat: repeat-x;
     color: white;
     height:20px;
     cursor: pointer;
     -moz-border-radius: 1px;
     border-radius: 1px;
     padding: 0px 10px;
}
form input[type=submit]{
     background-image: url('../images/button_background.png');
     background-repeat: repeat-x;
     color: white;
     height:20px;
     cursor: pointer;
     -moz-border-radius: 1px;
     border-radius: 1px;
     padding: 0px 10px;
}
#contenedor{
    /*width: 960px;*/
}
a{
	color: #4e4e4e;
	text-decoration: none;
}

img {
	border: 0px;
}

/** Formularios ***/
.inputbox {
	/*background-color: #EFEFEF;*/
	border: 1px solid #6A6C6B;
}

.button {
	background-color: #CCCCCC;
	border: 1px solid #999999;
}
select {
	/*background-color: #EFEFEF;*/
	border: 1px solid #6A6C6B;
}

/*** Header ***/
#header {
	margin: 0px;
	padding: 0px;
}

#logo {
	font-size: 15px;
	/*font-weight: bold;*/
	color: #333333;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 15px 0px 0px 10px;
	height: 46px;
	padding: 15px 0px 0px 220px;
	float: left;
	width: 350px;
}

#language {
	/*float: right;*/
	text-align: right;
	margin: 11px 10px 0px 0px;
	font-size: 11px;
	color: #878787;
	width: 960px;
	position: absolute;
}
#divisas	{
	width: 300px;
	height: 30px;
	float: right;
	margin-top: 35px;
	text-align: right;
}
#currency	{
	float: right;
	margin: 9px 10px 0px 0px;
	font-size: 11px;
	color: #878787;
	text-align: right;
}
#language a {
	color: #878787;
	text-decoration: none;
}

#language a:hover {
	color: #878787;
	text-decoration: underline;
}
/*** Menu de categorias ***/
#menu table tr:hover{
  background-color:#DBDBDB;
  font-weight:bold;
}

#menu a{display:block;}

#menu a.menu_highlight:hover  {
  font-weight:bold;
}

.mainlevel_active  {
  background-color:#DBDBDB;
  font-weight:bold;
}

/*** Navegacion ***/
#navegacion{
	height: 25px;
	background-image: url(../images/top_menu_bg1.png);
	background-repeat: repeat-x;
	background-position: left top;
	clear: both;
	font-size: 15px;
	color: #ffffff;
	padding: 10px 0px 0px 15px;
	/*font-weight: bold;*/
}

ul#mainlevel {
	list-style: none;
}

ul#mainlevel li {
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	line-height: 15px;
	white-space: nowrap;
	/*border-right: 1px solid #CCCCCC;*/
}

ul#mainlevel li a {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #ffffff;
	background: transparent;
}

#buttons>ul#mainlevel li a { width: auto; }

ul#mainlevel li a:hover {
	color: #878787;
}

ul#mainlevel li #active_menu {
	color: #878787;
}

/*** Barra de busqueda ***/
#search_bar {
	background-image: url(../images/search_bar_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 41px;
	clear: both;
	padding: 15px 0px 0px 10px;
	color: #FFFFFF;
}

#search_bar h3 {
	font-size: 12px;
	display: inline;
	font-weight: normal;
}

#search_bar a {
	margin-left: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
#search_bar a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#search_bar form, #search_bar div {
	display: inline;
}

#search_bar input, #search_bar select {
	font-size: 11px;
	border: 1px solid #CCCCCC;
	background-color: #DDDDDD;
}

/*** Contenido ***/
#contenido{
	color: #4e4e4e !important;
	padding: 0px 0px 30px 0px;
        margin-top: 20px;
	/*background-image: url(../images/content_bg.png);*/
	background-repeat: repeat-x;
	background-position: left top;
	font-size: 13px;
	clear: both;
}
#contenido p{
	margin-top:10px;
        margin-bottom:10px;
}

p.content_text {
	padding: 10px 0px;
}

#content a {
	font-size: 11px;
	color: #3E81C5;
	font-weight: bold;
}

.contentheading {
   font-size: 20px;
	color: #4E4E4E;
	font-weight: normal !important;
	/*text-transform: capitalize;*/
}


h1 {
	font-size: 20px;
	color: #4e4e4e;
	font-weight: bold;
	text-transform: uppercase;
}

.article_img {
	padding: 0px 8px 0px 0px;
}
.mosimage {
  border: 1px solid #CCCCCC;
  margin: 5px;
}

.mosimage_caption {
  display: none;
  margin-top: 2px;
  background: #EFEFEF;
  padding: 1px 2px;
  color: #666;
  font-size: 10px;
  border-top: 1px solid #CCCCCC;
}

/*** Contenido izquierdo ***/
#left_content {
	float: left;
	width: 203px;
	padding-top: 0px;
        margin-right: 15px;
}

/*** Menu izquierdo ***/
#left_content h3 {
	display: block;
	margin-left: 5px;
}

#left_content ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	margin-bottom: 20px;
}

#left_content li {
	background-image: url(../images/button_bg.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 34px;
	margin: 2px 0px 0px 5px;
	line-height: 27px;
	color: #6A6C6B;
	background-position: 0 0;
}

#left_content li a {
	font-weight: bold;
	color: #6A6C6B;
	text-decoration: none;
}

#left_content li.active {
	color: #3E81C5;
	padding-left: 24px;
	line-height: 27px;
	background-position: 0 -27px;
	background-image: url(../images/button_bg.png);
}

#left_content ul li ul {
	margin-top: 0px;
}

#left_content ul li ul li {
	background-repeat: no-repeat;
	padding: 0px 0px 0px 20px;
	margin-top: 2px;
	margin-left: -14px;
	line-height: 27px;
	color: #6A6C6B;
	list-style-type: none;
}

#left_content ul li.active ul li {
	background-image: url(../images/button_bg2.png);
	padding-left: 34px;
	line-height: 27px;
	background-position: 0 -27px;
}

#left_content ul li.active ul li.active {
	padding-left: 24px;
	background-position: 0 -27px;
}

#left_content ul li.active ul li a {
	color: #6A6C6B;
}

#left_content li.active a, #left_content ul li ul li.active a {
	color: #3E81C5;
}

#left_content li a:hover, #left_content ul li.active ul li a:hover {
	color: #3E81C5;
	text-decoration: underline;
}

#menu{
    
}
#menu table{
    
}
#menu table td{
    border-bottom-color: #999999;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-left:15px;
    min-height: 33px;
    height: 33px;
}


/*** Autentificacion ***/
#form-login {
	display: block;
	margin-top: 10px;
	margin-left: 20px;
}
#form-login div {
	text-align: left !important;
}
fieldset {
	display: block;
	margin-top: -8px;
	margin-left: -14px;
	padding: 10px;
}
#form-login ul {
	margin-left: -20px;
}

/*** Contenido principal ***/
#main_content {
	float: left;
	width: 522px;
	margin: 0px 15px 30px 0px;
	padding: 0px;
}
div .adsmanager_search_box {
	display: block;
	margin-left: -10px;
}

div .adsmanager_inner_box {
	background: #EEEEEE;
	text-align: left;
}

div .adsmanager_inner_box div {
	
}

div .adsmanager_pathway{
	display: none;
	font-size: 11px;
	color: #3E81C5;
}

div .adsmanager_pathway a {
	color: #3E81C5;
	text-decoration: underline;
}

/*** Contenido derecho ***/
#right_content  {
	float: right;
	width: 205px;
	margin: 0px 0px 30px 0px;
        overflow: hidden;
}
#right_content h3 {
	font-size: 22px;
	color: #4e4e4e;
        font-weight: lighter;        
	padding: 5px 0px;
	/*text-transform: capitalize;*/
}
#right_content .moduletable{
	font-size:12px;
        color: #4e4e4e;
        margin-bottom:10px;
		padding-left:7px;
}
#right_content .moduletable a{
	font-size:12px;
	color: blue;
        /*color: #2e4c70;*/
        text-decoration: underline;
		display:block;
		/*margin-top:-5px;*/
		margin-bottom:10px;
}
#right_content .moduletable a:visited{
	color: purple;
}
#right_content .moduletable .contentpaneopen{
	margin-left:-2px; border-spacing: 0px;}

#right_content .moduletable .contentpaneopen a{
	font-size:12px;
        color: #4e4e4e;
        text-decoration: none;
		font-weight:bold;
		margin-top:10px;
		padding-bottom:0px;
		margin-bottom:0px;
}
#right_content .moduletable .contentpaneopen .contentpagetitle{
	/*text-transform: capitalize;*/
}
#right_content .moduletable .article_separator{ display:block; height:5px; padding:0; margin:0;}


/* ADD BY: Walter Riedemann Jackson */
#main_content .contentpaneopen ul{
	margin-left: 18px;
}
/* END ADD */

#right_content div:first-child{
	font-size:12px;
         color: #4E4E4E; /*color: #b4b4b4;*/
        background-color:#ecede5;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 0px 8px 8px 8px;
}
#right_content div:first-child a{
        text-decoration: underline;
        font-size:12px;
        color: #4E4E4E; /*color: #b4b4b4;*/
}
#right_content div:first-child a.mainlevel{
        text-decoration: none;
        font-size:12px;
        color: #4e4e4e;
}
#right_content div:first-child a.sublevel{
        text-decoration: none;
        font-size:12px;
        color: #4e4e4e;
}
#right_content .moduletablecontact_{
	padding-left:7px;}

#right_content div:first-child .moduletablecontact_{
	font-size:12px;
        color: #b4b4b4;
        border-top: 1px dotted #999999;
}
#right_content div:first-child table td{
	height: 25px;
        border-bottom: dotted 1px #4E4E4E;
}
#right_content .moduletablecontact_ p	{
				background: url("../../../images/stories/contact_libreta.png") no-repeat scroll 0 0 transparent;
				padding-left: 30px;
				display:inline-block;
        vertical-align:top;
        font-size: 12px;
        margin-top: 2px;
}
	#right_content .moduletablecontact_ p.Chile	{
		background: url("../../../images/stories/contact_chile.png") no-repeat scroll 0 0 transparent;
	}
	#right_content .moduletablecontact_ p.Peru	{
		background: url("../../../images/stories/contact_peru.png") no-repeat scroll 0 0 transparent;
	}
	#right_content .moduletablecontact_ p.Suiza	{
		background: url("../../../images/stories/contact_suiza.png") no-repeat scroll 0 0 transparent;
	}
.new {
	padding: 10px 0px 0px 0px;
	clear: both;
}
.new_image {
	padding-right: 8px;
	float: left;
	height: auto;
	margin: auto;
	padding-top: 20px;
}

.new_details {
	float: right;
	width: 190px;
}

p.new_title {
	font-size: 13px;
	color: #878787;
	font-weight: bold;
}

p.new_date {
	font-size: 11px;
	color: #3E81C5;
	font-weight: bold;
	padding-top: 5px;
}

p.new_text {
	color: #878787;
	font-size: 12px;
	padding: 5px 0px 5px 0px;
}

p.new_link {
	margin: 3px 0px 10px 0px;
	font-size: 11px;
}

p.new_link a {
	text-decoration: underline;
	font-weight: bold;
	color: #3E81C5;
}

/*** Banners ***/
#content_bottom {
	clear: both;
  margin: 0px 10px 0px 10px;
}

#bannersH {
	height: 130px;
	margin:25px;
}

#bannersV {
	margin-right: 25px;
	float: right;
}

#banner {
	height: 150px;
	margin: 0px 0px 0px 18px;
}

#certified {
	width: 235px;
	height: 140px;
	margin: 0px 3px;
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
}

#contact {
	width: 235px;
	height: 140px;
	margin: 0px 3px;
	background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
}

#services {
	width: 235px;
	height: 140px;
	margin: 0px 3px;
	background-image: url(../images/bg3.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
}

p.banner_title {
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	margin: 28px 0px 0px 10px;
	text-transform: uppercase;
}

p.banner_text {
	width: 125px;
	font-size: 12px;
	color: #FFFFFF;
	margin: 5px 0px 0px 14px;
}

p.banner_link {
	margin: 5px 0px 0px 14px;
	font-size: 11px;
}

p.banner_link a {
	text-decoration: underline;
	font-weight: bold;
}

/*** Menu inferior ***/
#content_bottom ul {
	list-style: none;
	border-bottom: 2px solid #1B3955;
	height: 24px;
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px; 
	margin-left: 10px;
	margin-right: 10px;

}

#content_bottom li {
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	line-height: 15px;
	white-space: nowrap;
}

#content_bottom li a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	color: #333333;
	background: transparent;
}

#content_bottom li a:hover {
	text-decoration: underline;
}

#content_bottom li #active_menu {
	text-decoration: underline;
}



#bottom_menu {
	
	clear: both;
	margin: 0px 50px 0px 50px;
	color: #000000;
	padding: 0px 0px 14px 0px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

#bottom_menu a {
	color: #000000;
	text-decoration: none;
	padding: 0px 15px;
}

#bottom_menu a:hover {
	text-decoration: underline;
}

/*** Footer ***/
#footer {
	font-size: 11px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	color: #4E4E4E;
        clear:both;
        margin-top:10px;
        border-top:1px #4E4E4E solid;
}
#footer .moduletable{
       float:left; 
}
#footer .moduletable ul{
       list-style-type: none;
}
#footer .moduletable ul li{
       display:inline;
       border-right:1px solid;
       margin-right:5px;
       padding-right:5px;
}

/* Tooltips */

.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message { 
	margin-bottom: 20px; 
}


dt.message{
	display: none;
}

dt.error{
	display: none;
}

dt.notice{
	display: none;
}

/* System Error Messages */
#system-message dd.error ul {
	color: #541A1D; 
	background: #E6C0C0 url(../../system/images/notice-alert.png) no-repeat; 
	background-position: left;
	border-top: 1px solid #DE7A7B; 
	border-bottom: 1px solid #DE7A7B; 
	margin:0px; 
	padding-left: 40px; 
	text-indent:0px;
	list-style: none;
	padding-top:10px;
	padding-bottom:10px;
	height: auto;
}

.invalid{
	color:red;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #541A1D; 
	background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; 
	border-top: 1px solid #F0DC7E; 
	border-bottom: 1px solid #F0DC7E; 
	margin:0px; 
	padding-left: 40px; 
	text-indent:0px;
	list-style: none;
	padding-top:10px;
	padding-bottom:10px;
	height: auto;
}

/* System Info Messages */
#system-message dd.message ul { 
	color: #541A1D; 
	background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;
	border-top: 1px solid #5684AF; 
	border-bottom: 1px solid #5684AF; 
	margin:0px; 
	padding-left: 40px; 
	text-indent:0px;
	list-style: none;
	padding-top:10px;
	padding-bottom:10px;
	height: auto;
}

#system-message dd.message ul li a  { 
  text-decoration: underline;
}

.message ul li strong a:hover {
  text-decoration: underline !important;
}
/*** Productos ***/

/*** Others ***/

#jflanguageselection{
  margin: 0px;
}

#jflanguageselection ul.jflanguageselection{
margin-top: 0px;
}

#jflanguageselection ul.jflanguageselection li#active_language {
font-size:11px;
font-weight:normal;
}

.componentheading{
	font-size: 20px;
	color: #4E4E4E;
	/*font-weight: bold;*/
	/*text-transform: capitalize;*/
}

.ad_picture{
 margin:20px;
}

.section_description{
	font-size: 12px;
	text-transform: none;
}

/* WRJ 03/2011: News rectificator	*/
.modnews p	{
	margin-top: 0px !important;
	margin-bottom: 2px !important;

}

.contentpaneopen 	{	height: 20px !important;}
.moduletable h3	{	font-size: 1.6em !important; padding: 10px 0 0 0 !important;	}
.contentheading a	{ display:inline !important; }
.contentpaneopen.modnews a	{	color: blue !important; text-decoration: underline !important; font-weight: normal !important;	}
.contentpaneopen.modnews a:visited	{	color: purple !important;	}
.readmore	{	margin-top: 2px !important;	}
