/* 
    Document   : form
    Created on : 29/09/2011, 12:36:32 PM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
form {
    margin: 10px;
    padding: 10px;
}

form dt {
    padding: 8px;
    background-color: #f5f5fa;
    color: #2385db;
    font-size: 12px;
    font-weight: bold;
}

form dd {
    padding: 4px;
}

form dd input {
    padding: 5px;
    margin: 0;
    width: 250px;
    font-size: 12px;
}

form dd select {
    padding: 5px;
    font-size: 12px;
    width: 265px;
}

form dd select option {
    padding: 10px;
}

.button {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    border-style: solid;
    line-height: 15px;
    background-color: #52A0C4;
    border-color: #52A0C4;
    color: #fcfcfc;
}


ul.errors li {
    font-size: 13px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: #f01818;
    font-weight: bold;
}

#mensajes li {
    font-size: 13px;
    padding: 10px;
    background-color: #FFF6BF;
    color: #1f1c1f;
    font-weight: bold;
    border-style: solid;
    border-color: #FFD324;
    border-width: 1px;
}

#mensajes li .error {
    background-color: #de3c4a;
    color: #f2edf2;
    border-color: #f50e1a;
}

